<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="error-template">
              <h1>
                  Oops!</h1>
              <h2>
                  404 Not Found</h2>
              <div class="error-details">
                  Perdón la página no existe!
              </div>
              <div class="error-actions">
                  <a href="" class="btn btn-primary btn-lg">
                  <span class="glyphicon glyphicon-home"></span>
                      ir a Peliculas </a>
                      
              </div>
          </div>
      </div>
  </div>
</div>